.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    border: 1px solid rgb(214, 213, 213);
    color: #000000;
    font-style: bold;
    border-radius: 10px;
    background: white;
    font-size: 13px;
    padding: 20px 16px;
    gap: 10px;
    justify-content: flex-start;
    /* Adjusted padding for smaller screens */
    box-shadow: #f4f5f8;
}
.cardTitle{
   
    display: flex;
    justify-content: flex-start;
    width: 90% !important;
    align-items: center;
    gap: 10px;
    

}
.cardTitle>span{
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    font-weight: 500;
   
}

.imageContainer{
    position: absolute;
    top: 16px;
    right: 16px;
   
}
.imageContainer>img{
    width: 30px;
    height: 30px;
}
.cardContainer>* {
    font-size: 12px;
    width: 100%;
}
.cardHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardId{
    color : rgb(91,91,91)
}
.showStatus {
    position: absolute;
    right: 0;
    background: rgb(34, 255, 1);
    border-radius: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
}

.tags {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #f4f5f8;
    color: #7d7d7d;
    padding: 4px;
    gap: 5px;
}
.tags>span{
    font-size: 30px;
    line-height: 20px;
}

.cardTags {
    align-items: center;
    font-size: smaller;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    /* Allow tags to wrap to the next line on smaller screens */
}

@media only screen and (max-width: 600px) {
    .cardContainer {
        padding: 5%;
        /* Adjusted padding for larger screens */
    }
}