.navbar-container{
    padding: 10px;
    border-bottom: 1px solid black;
}
.select-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px;
    width: auto;
    gap: 10px;
     font-size: 14px;
     color: #555B5A
}


.display-button-container {
    position: relative;
}

.dropdowns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 5px 10px;
    width: 220px;
    background-color: #e9eaee;
    border-radius: 8px;
    margin-top: 11px;
    z-index: 10;
    animation: slideDown 0.25s ease-in-out;
}
@keyframes slideUp{
    0% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
        display: none;
    }
}
@keyframes slideDown{
    0% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.dropdowns-container>* {
    width: 100%;
}

.display-button {
    padding: 5px 10px;
    font-size: 15px;
    background: #ffffff;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
}

.select-style {
    width: 100px;
    border-radius: 5px;
    background: white;
    padding: 2px 5px;
}

